.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.content__wrapper {
  max-width: 1000px;
}
.content__wrapper .title {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 600;
}
.content__wrapper .cards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 25px;
}
@media screen and (max-width: 520px) {
  .content__wrapper .cards {
    justify-content: center;
  }
}
.content__wrapper .cards .card {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 178px;
  height: 230px;
  border: 2px solid #ccc;
  border-radius: 50px;
  transition: background 1s ease;
}
.content__wrapper .cards .card:hover {
  background-color: red;
}
@media screen and (max-width: 800px) {
  .content__wrapper .cards .card {
    width: 150px;
  }
}
.content__wrapper .cards .card__text {
  font-size: 25px;
  font-weight: 700;
}

.footer__text {
  border-top: 1px solid #000;
  font-size: 25px;
}
.footer__text .that__all {
  text-decoration: none;
  color: #000;
}
.footer__text .that__all:hover {
  text-decoration: underline;
}

.container .row {
  justify-content: center;
  margin-top: 40px;
}
.container .nav {
  padding: 20px;
  height: 100%;
  width: 30%;
  background-color: rgb(191, 189, 189);
}
.container .nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(144, 135, 135);
  list-style: none;
}
.container .nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: 0.5s;
}
.container .nav__link:hover {
  background-color: #e5d7d7;
}
.container .nav__img {
  width: 60px;
  height: 60px;
}

.wrapper {
  color: #fff;
  font-weight: 700;
}
.wrapper__header {
  width: 100%;
  height: 60px;
  background-color: palevioletred;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper__main .menu {
  height: 40px;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.wrapper__main .contents {
  text-transform: uppercase;
  display: flex;
  gap: 20px;
  height: 60vh;
  padding-bottom: 20px;
}
.wrapper__main .contents .aside__left {
  text-align: center;
  width: 20%;
}
.wrapper__main .contents .aside__left .aside-one {
  height: 25%;
  background-color: palevioletred;
}
.wrapper__main .contents .aside__left .aside-two {
  height: 40%;
  background-color: palevioletred;
  margin-top: 10%;
}
.wrapper__main .contents .main-content {
  text-align: center;
  width: 70%;
  background-color: palevioletred;
}
.wrapper__main .contents .main-content .content__title {
  margin-top: 20px;
}
.wrapper__main .contents .main-content .section {
  margin: 20px;
  height: 150px;
  background-color: rgb(184, 28, 54);
}
.wrapper__main .contents .aside-right {
  width: 10%;
}
.wrapper__main .contents .aside-right .aside-three {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  height: 70%;
  background-color: palevioletred;
}
.wrapper .footer {
  height: 60px;
  background-color: palevioletred;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new__footer {
  background-color: blue;
  padding: 20px 20px 20px 100px;
}
@media screen and (max-width: 992px) {
  .new__footer {
    padding: 20px 5px;
  }
}
.new__footer-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
@media screen and (max-width: 480px) {
  .new__footer-wrapper {
    flex-direction: column;
  }
}
.new__footer-nav {
  background: none;
  -webkit-box-shadow: none;
  display: flex;
  gap: 350px;
  height: 100%;
  width: 70%;
  margin-bottom: 15px;
  margin-left: 100px;
}
@media screen and (max-width: 992px) {
  .new__footer-nav {
    margin-left: 0;
    gap: 100px;
  }
}
@media screen and (max-width: 480px) {
  .new__footer-nav {
    gap: 30px;
    width: 100%;
    justify-content: center;
  }
}
.new__footer .nav__column {
  display: flex;
}
.new__footer .nav__column-unordered {
  display: flex;
  flex-direction: column;
}
.new__footer .nav__column-unordered a {
  line-height: 40px;
  text-decoration: none;
}
.new__footer .nav__column-unordered a:hover {
  text-decoration: underline;
  background: none;
  color: #fff;
}
.new__footer .new__footer-icons {
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 480px) {
  .new__footer .new__footer-icons {
    margin-bottom: 20px;
  }
}
.new__footer .new__footer-icons a {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  transition: background 0.3s ease;
}
.new__footer .new__footer-icons .facebook-img {
  background-image: url(../img/facebook-gray.png);
  background-color: #ccc;
  border-radius: 6px;
}
.new__footer .new__footer-icons .facebook-img:hover {
  background-image: url(../img/fb.png);
}
.new__footer .new__footer-icons .inst-img {
  background-image: url(../img/insta_gray.png);
}
.new__footer .new__footer-icons .inst-img:hover {
  background-image: url(../img/insta.png);
}
.new__footer .new__footer-icons .youtube-img {
  background-image: url(../img/youtube_gray.png);
}
.new__footer .new__footer-icons .youtube-img:hover {
  background-image: url(../img/youtube.png);
}
.new__footer .new__footer-text {
  text-align: center;
  color: #fff;
  margin-top: 20px;
}