// TASK 1

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	&__wrapper {
		max-width: 1000px;

		.title {
			margin-top: 20px;
			font-size: 40px;
			font-weight: 600;
		}

		.cards {
			display: flex;
			gap: 10px;
			flex-wrap: wrap;
			padding: 25px;
			@media screen and (max-width: 520px) {
				justify-content: center;
			}
			.card {
				justify-content: center;
				display: flex;
				align-items: center;
				width: 178px;
				height: 230px;
				border: 2px solid #ccc;
				border-radius: 50px;
				transition: background 1s ease;
				&:hover {
					background-color: red;
				}
				@media screen and (max-width: 800px) {
					width: 150px;
				}

				&__text {
					font-size: 25px;
					font-weight: 700;
				}
			}
		}
	}
}

.footer__text {
	border-top: 1px solid #000;
	font-size: 25px;
	.that__all {
		text-decoration: none;
		color: #000;
	}
	.that__all:hover {
		text-decoration: underline;
	}
}

// TASK 2

.container {
	.row {
		justify-content: center;
		margin-top: 40px;
	}
	.nav {
		padding: 20px;
		height: 100%;
		width: 30%;
		background-color: rgb(191, 189, 189);

		&__list {
			display: flex;
			flex-direction: column;
			justify-content: center;
			background-color: rgb(144, 135, 135);
			list-style: none;
		}

		&__link {
			text-decoration: none;
			color: #fff;
			font-size: 18px;
			transition: 0.5s;

			&:hover {
				background-color: #e5d7d7;
			}
		}

		&__img {
			width: 60px;
			height: 60px;
		}
	}
}

// TASK 3

.wrapper {
	color: #fff;
	font-weight: 700;

	&__header {
		width: 100%;
		height: 60px;
		background-color: palevioletred;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__main {
		.menu {
			height: 40px;
			background-color: green;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 10px 0;
		}

		.contents {
			text-transform: uppercase;
			display: flex;
			gap: 20px;
			height: 60vh;
			padding-bottom: 20px;

			.aside__left {
				text-align: center;
				width: 20%;
				.aside-one {
					height: 25%;
					background-color: palevioletred;
				}
				.aside-two {
					height: 40%;
					background-color: palevioletred;
					margin-top: 10%;
				}
			}
			.main-content {
				text-align: center;
				width: 70%;
				background-color: palevioletred;
				.content__title {
					margin-top: 20px;
				}
				.section {
					margin: 20px;
					height: 150px;
					background-color: rgb(184, 28, 54);
				}
			}

			.aside-right {
				width: 10%;
				.aside-three {
					font-weight: 600;
					display: flex;
					flex-direction: column;
					align-items: center;
					font-size: 25px;
					height: 70%;
					background-color: palevioletred;
				}
			}
		}
	}
	.footer {
		height: 60px;
		background-color: palevioletred;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

// TASK 4
.new__footer {
	background-color: blue;
	padding: 20px 20px 20px 100px;
	@media screen and (max-width: 992px) {
		padding: 20px 5px;
	}
	&-wrapper {
		display: flex;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid #ccc;
		@media screen and (max-width: 480px) {
			flex-direction: column;
		}
	}
	&-nav {
		background: none;
		-webkit-box-shadow: none;
		display: flex;
		gap: 350px;
		height: 100%;
		width: 70%;
		margin-bottom: 15px;
		margin-left: 100px;
		@media screen and (max-width: 992px) {
			margin-left: 0;
			gap: 100px;
		}
		@media screen and (max-width: 480px) {
			gap: 30px;
			width: 100%;
			justify-content: center;
		}
	}
	.nav__column {
		display: flex;
		&-unordered {
			display: flex;
			flex-direction: column;
			a {
				line-height: 40px;
				text-decoration: none;
			}
			a:hover {
				text-decoration: underline;
				background: none;
				color: #fff;
			}
		}
	}
	.new__footer-icons {
		display: flex;
		gap: 15px;
		@media screen and (max-width: 480px) {
			margin-bottom: 20px;
		}
		a {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			width: 35px;
			height: 35px;
			transition: background 0.3s ease;
		}
		.facebook-img {
			background-image: url(../img/facebook-gray.png);
			background-color: #ccc;
			border-radius: 6px;
			&:hover {
				background-image: url(../img/fb.png);
			}
		}
		.inst-img {
			background-image: url(../img/insta_gray.png);
			&:hover {
				background-image: url(../img/insta.png);
			}
		}
		.youtube-img {
			background-image: url(../img/youtube_gray.png);
			&:hover {
				background-image: url(../img/youtube.png);
			}
		}
	}
	.new__footer-text {
		text-align: center;
		color: #fff;
		margin-top: 20px;
	}
}
